/* ==== BASE ==== */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: $bg-color;
	color: $text-body;
	font-family: $body-font;
	font-size: 1.1rem;
	overflow: scroll;
	width: 80%;
	margin: 20px auto 0 auto;
}

h1, h3 {
	font-family: $header-font;
	font-weight: 700;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	color: $text-body;
	text-shadow: $text-shadow2;

}

h3 {
	font-size: 1.8rem;
	padding: 40px 0 20px 0;
	color: $footer-color;
	text-shadow: $text-shadow1;
}

h4 {
	display: flex;
  align-items: center;
	font-family: $header-font;
	font-weight: 700;
	font-size: 1.4rem;
	text-shadow: $text-shadow2;
	text-align: center;
}

#copyright{
	display: flex;
  align-items: center;
  flex-direction: row; // flex-direction and flex-wrap can use short hand
  justify-content: center;
	background-color: $footer-color;
	color: $bg-color;
	font-size: 0.9rem;
	height: 50px;
}

a {
	text-decoration: none;
}

li a:hover{
	color: rgba(255, 255, 255, 0.9);
}
