/* ==== VARIABLE ==== */

$bg-color: #f7f6f3;
$text-body: #ff7400;
$text-dark: #522f1e;

$text-shadow1: 2px 2px 3px #9bc4bc;
$text-shadow2: 2px 2px 5px #ccb8a8;

$icon-color: #0a7f99;
$footer-color: #0aa5b0;

$box1: #f1dac4;
$box1-shadow: #ccb8a8;
$box2: #fff3b2;
$box2-shadow: #ccc192;
$box3: #f48668;
$box3-shadow: #cc6e58;
$box4: #c0da74;
$box4-shadow: #afbf6a;
$box5: #a5aa52;
$box5-shadow: #918f49;
$box6: #9bc4bc;
$box6-shadow: #86a8a1;

$header-font: 'Rufina', serif;
$body-font: 'Raleway', sans-serif;
