/* ==== CONTAINER ==== */

#grid {
  display: grid;
  /*100px forheader, auto for all contents on the side bar, 150px for footer
    after / create 8 columns and each column have the width of 1fr */
  grid: auto auto auto 50px / repeat(10, 1fr);
  min-height: 100vh;
  grid-gap: 10px;
  grid-template-areas:
    "h h h h h  h h h h h"
    ". k k k k  k k l l ."
    ". m m m m  m m m m ."
    "f f f f f  f f f f f";
}

.header-area {
  grid-area: h;
}
.left {
  grid-area: l;
}
.like {
  grid-area: k;
}
#myskills {
  grid-area: m;
}
#copyright {
  grid-area: f;
}
