/* ==== HEADER AREA ==== */

.header-area p,
.current-skills {
	font-size: 1.2rem;
	font-family: $body-font;
	text-align: center;
  line-height: 2.2rem;
}

.header-area img {
  width: 50px;
  height: auto;
}
