/* ==== MY SKILLS ==== */

section #myskills {
  color: $text-dark;
}
#myskills ul,{
  display: flex;
  align-items: center;
  flex-direction: row; // flex-direction and flex-wrap can use short hand
  flex-wrap: wrap;     // flex-flow: row wrap;
  list-style-type: none;
  text-align: center;
}

.skills {
  padding: 10px 45px;
  border-radius: 10px;
  margin: 5px;
}

.skill1, .skill8 {
  @include button-box1;
  // background-color: $box1;
}
.skill4 {
  @include button-box2;
}
.skill3, .skill6 {
  @include button-box3;
}
.skill7, .skill9 {
  @include button-box4;
}
.skill5{
  @include button-box5;
}
.skill2, .skill10 {
  @include button-box6;
}

.current-skills {
  color: $footer-color;
  font-weight: 400;
  padding-bottom: 40px;
}

aside .sample {
  color: $text-dark;
}

.samples {
  padding: 10px 25px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.sample ul li{
  align-items: center;
  list-style-type: none;
  color: $text-dark;
}

.sample1 {
  @include button-orange;
}
.sample2 {
  @include button-blue;
}
